<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>KYhyaSKZ4SUbNKp02wzlCB0dZ</string>
	<key>consumer_Secret</key>
	<string>vMhpuBnNpzFM15YE8RD74npGX94e92Nl30lvi8FtlTivjocJV2</string>
</dict>
</plist>
